@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Lekton:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lekton:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

* {
	box-sizing: border-box;
}

body {
	background-color: black;
}

.page-title {
	color: white;
}

.practice-problems {
	display: inline-flex;
	gap: 150px;
}

.similar-font,
.find-grid,
.style-choice {
	border: 5px solid blue;
	width: 800px;
	height: 800px;
}

.similar-font {
	background-color: #3D3E61;
	color: #FFF;
	font-family: "Lekton", sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.5;
	padding: 100px;
}

.similar-font-headline {
	font-family: "Poppins", serif;
	font-weight: 800;
	color: #FFBF43;
	text-transform: uppercase;
	font-size: 64px;
	line-height: 1;
}

.find-grid {
	background-color: #FFFFFF;
	display: grid;
	grid-template-columns: repeat(8, 100px);
	grid-template-rows: repeat(8, 100px);
	color: #003053;
	font-family: "Crimson Text", serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
}

.find-grid-headline {
	grid-column: 2 / span 6;
	grid-row: 3 / span 6;
	font-family: "IBM Plex Mono", serif;
	line-height: 1;
	font-weight: 700;
	font-size: 64px;
	padding: 0px;
	margin: 0px;
}

.find-grid-content {
	grid-column: 2 / span 6;
	grid-row: 5 / span 6;
	columns: 2;
}

.find-grid-content p {
	break-inside: avoid;
	margin-top: 0;
}

.style-choice {
	background: url('../images/background-texture.png') 0% 0% /100px 100px repeat, #FFFFC5;
	padding: 100px;
	color: #003053;
	font-family: "Caveat", serif;
	font-size: 24px;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

.style-choice-headline {
	font-family: "Permanent Marker", serif;
	font-weight: 400;
	font-size: 64px;
}

.content-container {
	transform-origin: top left;
	transform: rotate(-15deg) scale(0.9);
}

.style-choice-headline {
	margin: 100px 0;
}

.helper {
	position: absolute;
}
